@use '@angular/material' as mat;
@use './themes/azure-blue-theme.scss' as azure-blue;
@use './themes/rose-red-theme.scss' as rose-red;
@use './themes/magenta-violet-theme.scss' as magenta-violet;
@use './themes/cyan-orange-theme.scss' as cyan-orange;

// Angular 20 + Material 3 palette-based themes

$rose-red-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: rose-red.$primary-palette,
    tertiary: rose-red.$tertiary-palette,
  ),
  density: (scale: 0)
));

$azure-blue-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: azure-blue.$primary-palette,
    tertiary: azure-blue.$tertiary-palette,
  ),
  density: (scale: 0)
));

$magenta-violet-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: magenta-violet.$primary-palette,
    tertiary: magenta-violet.$tertiary-palette,
  ),
  density: (scale: 0)
));

$cyan-orange-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: cyan-orange.$primary-palette,
    tertiary: cyan-orange.$tertiary-palette,
  ),
  density: (scale: -1)
));
