@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes.
$azure-blue-primary: mat.define-palette(mat.$blue-palette);
$azure-blue-tertiary: mat.define-palette(mat.$cyan-palette);

$rose-red-primary: mat.define-palette(mat.$pink-palette);
$rose-red-tertiary: mat.define-palette(mat.$red-palette);

$magenta-violet-primary: mat.define-palette(mat.$purple-palette);
$magenta-violet-tertiary: mat.define-palette(mat.$deep-purple-palette);

$cyan-orange-primary: mat.define-palette(mat.$cyan-palette);
$cyan-orange-tertiary: mat.define-palette(mat.$orange-palette);


// Define the themes.
$azure-blue-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $azure-blue-primary,
    tertiary: $azure-blue-tertiary,
  )
));

$rose-red-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $rose-red-primary,
    tertiary: $rose-red-tertiary,
  )
));

$magenta-violet-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $magenta-violet-primary,
    tertiary: $magenta-violet-tertiary,
  )
));

$cyan-orange-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $cyan-orange-primary,
    tertiary: $cyan-orange-tertiary,
  )
));
