.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.brand {
  cursor: pointer;
}

.navigation-desktop {
  display: none;
}

.navigation-mobile-menu-button {
  display: block;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-container {
  position: relative;
}

/* Medium screens and up */
@media (min-width: 768px) {
  .navigation-desktop {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .navigation-mobile-menu-button {
    display: none;
  }
}
