@if (data$ | async; as homeData) {
  <section class="hero">
    @if (homeData.carousel && homeData.carousel.length > 0) {
      <div class="hero-image-container">
        @for (item of homeData.carousel; track item.id; let i = $index) {
          @if (i === currentImageIndex()) {
            <img [ngSrc]="item.src" [width]="item.width" [height]="item.height" [alt]="item.alt[lang()]" priority />
            <div class="hero-caption">{{ item.caption[lang()] }}</div>
          }
        }
      </div>
      <div class="hero-actions">
        <md-icon-button (click)="selectImage(currentImageIndex() - 1, homeData.carousel.length)">
          <md-icon>chevron_left</md-icon>
        </md-icon-button>
        <md-icon-button (click)="selectImage(currentImageIndex() + 1, homeData.carousel.length)">
          <md-icon>chevron_right</md-icon>
        </md-icon-button>
      </div>
    }
  </section>

  <section class="categories">
    <div class="container">
      @for (c of homeData.categories; track trackById($index, c)) {
        <md-elevated-card class="card">
          <img [ngSrc]="c.image" [width]="c.width" [height]="c.height" [alt]="c.i18nKeyTitle | translate" />
          <div class="content">
            <h3>{{ c.i18nKeyTitle | translate }}</h3>
            <p>{{ c.i18nKeyDescription | translate }}</p>
          </div>
        </md-elevated-card>
      }
    </div>
  </section>
}
