@if (data | async; as data) {
  <section class="hero">
    <swiper-container slides-per-view="1" space-between="0" center-slides="true" pagination="true" navigation="true" loop="true" autoplay-delay="5000">
      @for (s of data.carousel; track s.id) {
        <swiper-slide>
          <img [ngSrc]="s.src" [width]="s.width" [height]="s.height" [alt]="s.alt[lang()]" priority />
          <div class="caption">{{ s.caption[lang()] }}</div>
        </swiper-slide>
      }
    </swiper-container>
  </section>
  
  <section class="categories">
    <div class="container">
      @for (c of data.categories; track c.id) {
        <div class="card">
          <img [ngSrc]="c.image" [width]="c.width" [height]="c.height" [alt]="(c.i18nKeyTitle | translate) ?? ''" />
          <div class="content">
            <h3>{{ c.i18nKeyTitle | translate }}</h3>
            <p>{{ c.i18nKeyDescription | translate }}</p>
          </div>
        </div>
      }
    </div>
  </section>
}


