@if (data$ | async; as homeData) {
  <section class="hero">
    @if (homeData.carousel && homeData.carousel.length > 0) {
      <div class="hero-image-container">
        <img [ngSrc]="homeData.carousel[0].src" [width]="homeData.carousel[0].width" [height]="homeData.carousel[0].height" [alt]="homeData.carousel[0].alt[lang()]" priority />
        <div class="hero-caption">{{ homeData.carousel[0].caption[lang()] }}</div>
      </div>
    }
  </section>

  <section class="categories">
    <div class="container">
      @for (c of homeData.categories; track trackById($index, c)) {
        <md-elevated-card class="card">
          <img [ngSrc]="c.image" [width]="c.width" [height]="c.height" [alt]="c.i18nKeyTitle | translate" />
          <div class="content">
            <h3>{{ c.i18nKeyTitle | translate }}</h3>
            <p>{{ c.i18nKeyDescription | translate }}</p>
          </div>
        </md-elevated-card>
      }
    </div>
  </section>
}
