@use 'app/custom-theme' as theming;
@use '@angular/material' as mat;
@include mat.core(); 
// Apply the default theme to html element


// Apply other themes when the theme class is present on html element
html.rose-red {
  @include mat.all-component-themes(theming.$rose-red-theme);
}

html.azure-blue {
  @include mat.all-component-themes(theming.$azure-blue-theme);
}

html.cyan-orange {
  @include mat.all-component-themes(theming.$cyan-orange-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* default */
html {
  @include mat.all-component-themes(theming.$magenta-violet-theme);
  @include mat.system-level-colors(theming.$magenta-violet-theme); // ← kľúčové
  color-scheme: light; // uľahčí správny rendering v prehliadači
}

/* prepínané témy */
html.rose-red {
  @include mat.all-component-themes(theming.$rose-red-theme);
  @include mat.system-level-colors(theming.$rose-red-theme);
}
html.azure-blue {
  @include mat.all-component-themes(theming.$azure-blue-theme);
  @include mat.system-level-colors(theming.$azure-blue-theme);
}
